body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

.win{
    display: flex;
    flex-direction: column;
    padding: 10%;
    border-radius: 10px;
    margin:3%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.win h2{
    text-align: center;
    color: green;
    margin-top: 10px;
}
.win-section .img-div a{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
}
.win-section .albert{
    width: 200px;
    position: relative;
    top: -30px;
}
.win span{
    font-style: italic;
}
.share{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.win .share a{
    text-decoration: none;
}
.win .share .wp{
    color: green;
}
.win .share .facebook{
    color: blue;
    margin-left: 10px;
}
.win .share .tw{
    color: rgb(0, 162, 216);
    margin-left: 10px;
}
.win .share .inst{
    color: rgb(239, 41, 41);
    margin-left: 10px;
}
@media(max-width:768px){
    .win-section{
        width: 100%;
        margin-left: 0 ;
    }
}
.kizilinci{
    width: 150px;
    position: relative;
    top: 30px;
    margin-left: 25px;
}
.share-area a{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: black;
    font-size: 12px; 
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.share-area{
   margin: 2%;
}